#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    /*Ajout de flexbox pour le container*/
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

/*Ajout de propriété pour l'image du phtotographe'*/
.photographer-portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*Modif propriété photographe*/
.photographer-name {
    color: #D3573C;
    font-size: 64px;
    margin-bottom: 20px;
}

.photograph-header .photographer-location {
    font-size: 24px;
    margin-bottom: 20px;
}

.photograph-header .photographer-tagline {
    color: #525252;
    font-size: 18px;
}

.media-gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
    margin: 58px 100px 0px 100px;
}

.media-image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.media-video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.media-title {
    color: #901C1C;
    font-size: 20px;
    cursor: pointer;
}

/**/
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    display: grid;
    margin-top: 132px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

textarea {
    resize: none;
    width: 100%;
    height: 170px;
    box-sizing: border-box;
}

/* Styles pour la lightbox */
#lightbox-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: none;
}

#lightbox {
    position: relative;
}

#lightbox.modal {
    background-color: #fff;
    width: 1240px;
}

.iconColor {
    color: #901C1C;
    font-size: 72px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


.lightbox__prev,
.lightbox__next {
    cursor: pointer;
    font-size: 96px;
    color: #901C1C;
    position: absolute;
}

.lightbox__prev {
    top: 50%;
    left: 2%;
}

.lightbox__next {
    top: 50%;
    left: 90%;
}


.lightbox__content img,
.lightbox__content video {
    width: 1000px;
    border-radius: 5px;
    height: 890px;
    object-fit: cover;
}

.lightbox__caption {
    margin-top: 10px;
    color: #901C1C;
    font-size: 24px;
}

.total-likes-price {
    position: fixed;
    bottom: 0;
    left: 79%;
    transform: translateX(-50%);
    width: 376px;
    height: 89px;
    border-radius: 5px;
    background: #DB8876;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total-likes-price #total-likes-count,
.total-likes-price #price-per-day {
    color: #000;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.total-likes i {
    color: #000;
    margin-left: 10px;
    font-size: 21px;
}

#price-per-day {
    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.media-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 344px;
}

.media-likes {
    display: flex;
    align-items: first baseline;
}

.media-likes-count {
    margin-right: 8px;
}


.fa-heart {
    color: #901C1C;
    cursor: pointer;
}

.media-likes-count.liked {
    color: #901C1C;
}

.sort-menu {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 50px;
}

.sort-menu label {
    margin-right: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #901C1C;
}

.sort-menu select {
    padding: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background: #901C1C;
    border: none;
    border-radius: 5px;
}

.sort-menu select option {
    background: #901C1C;
    color: #FFF;
}